@import url('https://fonts.googleapis.com/css?family=Dosis');

:root {
	/* generic */
	--gutterSm: 0.4rem;
	--gutterMd: 0.8rem;
	--gutterLg: 1.6rem;
	--gutterXl: 2.4rem;
	--gutterXx: 7.2rem;
	--colorPrimary400: #000000;
	--colorPrimary600: #000000;
	--colorPrimary800: #000000;
	--fontFamily: "Dosis", sans-serif;
	--fontSizeSm: 1.2rem;
	--fontSizeMd: 1.6rem;
	--fontSizeLg: 2.1rem;
	--fontSizeXl: 2.8rem;
	--fontSizeXx: 3.6rem;
	--lineHeightSm: 1.1;
	--lineHeightMd: 1.8;
	--transitionDuration: 300ms;
	--transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

	/* floated labels */
	--inputPaddingV: var(--gutterMd);
	--inputPaddingH: var(--gutterLg);
	--inputFontSize: var(--fontSizeLg);
	--inputLineHeight: var(--lineHeightMd);
	--labelScaleFactor: 0.8;
	--labelDefaultPosY: 50%;
	--labelTransformedPosY: calc(
		 (var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) - (var(--inputFontSize) *
					var(--inputLineHeight))
	);
	--inputTransitionDuration: var(--transitionDuration);
	--inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100vw;
	color: #001c59;
	background-color: #ffff;
	font-family: var(--fontFamily);
	font-size: var(--fontSizeMd);
	line-height: var(--lineHeightMd);
}

.Wrapper {
	flex: 0 0 100%;
	max-width: 100%;
}

.Title {
	margin: 0 0 var(--gutterXx) 0;
	padding: 0;
	color: #ff0000;
	font-size: 100px;
	font-weight: 400;
	line-height: var(--lineHeightSm);
	text-align: center;
	text-shadow: -0.1rem 0.1rem 0.2rem var(--colorPrimary800);
}

.Input {
	position: relative;
	text-align: center;
}
input {
	height: 100%;
	width: 100%;
}

.Input-text {
	text-align: center;
	display: block;
	margin: 0;
	padding: var(--inputPaddingV) var(--inputPaddingH);
	color: inherit;
	width: 100%;
	font-family: inherit;
	font-size: 4000%;
	font-weight: inherit;
	line-height: var(--inputLineHeight);
	border: none;
	border-radius: 0.4rem;
	transition: box-shadow var(--transitionDuration);
}

.Input-text::placeholder {
	color: #b0bec5;
}
/*
.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem grey;
}
*/
.Input-label {
	display: block;
	position: absolute;
	bottom: 50%;
	left: 1rem;
	color: #fff;
	font-family: inherit;
	font-size: var(--inputFontSize);
	font-weight: inherit;
	line-height: var(--inputLineHeight);
	opacity: 0;
	transform: translate3d(0, var(--labelDefaultPosY), 0) scale(1);
	transform-origin: 0 0;
	transition: opacity var(--inputTransitionDuration) var(--inputTransitionTF),
		transform var(--inputTransitionDuration) var(--inputTransitionTF),
		visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
		z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.Input-text:placeholder-shown + .Input-label {
	visibility: hidden;
	z-index: -1;
}

.Input-text:not(:placeholder-shown) + .Input-label,
.Input-text:focus:not(:placeholder-shown) + .Input-label {
	visibility: visible;
	z-index: 1;
	opacity: 1;
	transform: translate3d(0, var(--labelTransformedPosY), 0) scale(var(--labelScaleFactor));
	transition: transform var(--inputTransitionDuration), visibility 0ms, z-index 0ms;
}
#pi {
	font-size: 10vw;
	position: absolute;
	text-align: center;
	left: 30vw;

}
#pos {
	font-size: 20vw;
	position: absolute;
	top: 5%;
	left: 45vw;

}
